<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elitesoftware.appmarketplace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        
        <!-- Custom Frame Builder -->
        <activity
            android:name=".CustomFrameActivity"
            android:label="Custom Frame"
            android:icon="@mipmap/ic_custom_frame"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Gemini Window -->
        <activity
            android:name=".GeminiLauncherActivity"
            android:label="Elite Gemini"
            android:icon="@mipmap/ic_gemini_star"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings Window -->
        <activity
            android:name=".SettingsLauncherActivity"
            android:label="Elite Settings"
            android:icon="@mipmap/ic_settings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Share Target -->
        <activity
            android:name=".ShareReceiverActivity"
            android:label="Open in Elite Frame"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Test App Launcher -->
        <activity
            android:name=".TestAppLauncherActivity"
            android:label="Elite Test App"
            android:icon="@mipmap/ic_launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Test App Activity -->
        <activity
            android:name=".TestAppActivity"
            android:label="Test App"
            android:exported="true" />

        <!-- Custom Package Launcher -->
        <activity
            android:name=".PackageLauncherActivity"
            android:label="Launch Any App"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FloatingWidgetService" android:enabled="true" android:exported="false" />
    </application>
</manifest>
