1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "EliteSoftwareTech Co."
      VALUE "FileDescription", "Elite App Marketplace Server"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "EliteServer"
      VALUE "LegalCopyright", "(c) 2026 EliteSoftwareTech"
      VALUE "OriginalFilename", "Elite_App_Marketplace-Server.exe"
      VALUE "ProductName", "Elite App Marketplace"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
